/* ヘッダーのスタイル*/
header{
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: black;
}

/* ヘッダー内のリスト項目のスタイル */
header ul li{
    float: left;
    list-style: none;
    padding-right: 20px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
}

/* ヘッダー内ホバーアクション */
header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

header ul li a:hover {
  color: blue;
  border-bottom: 2px solid blue;
}

/* タイトルのスタイル */
main h1 {
  padding: 50px;
  align-self: flex-start;
}


/* メインのスタイル */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;            
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
th, td {
  padding: 10px 20px;
}



/* ボタンのスタイル */
.button-wrapper {
  display: flex;
  justify-content: center;   
  gap: 20px;                 
  margin-top: 30px;       
}




/* フッターのスタイル */
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  background-color: black;
  line-height: 60px;
  margin-top: auto;
}